@keyframes textAnimation {

  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 100%;
  }
}

.animate-text {
  background-size: 200% 200%;
  animation: textAnimation 3s ease infinite;
}